{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5 text-white">
    <h1>Zoho integration tutorial</h1>
    </div>
    <div class="row justify-content-center mt-5">
        <table class="table table-dark text-center">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Page</th>
                <th scope="col">Zoho Module</th>
                <th scope="col">Article</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="{{ path('admin_zoho_oauth') }}" class="btn btn-success">Authentication</a></td>
                <td>OAuth 2.0</td>
                <td><a href="https://blowstack.com/blog/api/authenticate-zoho-crm-in-php" class="btn btn-primary">Authenticate Zoho CRM in PHP</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="{{ path('contact') }}" class="btn btn-success">Contact</a></td>
                <td>Leads</td>
                <td><a href="https://blowstack.com/blog/api/create-a-lead-with-zoho-crm-in-php" class="btn btn-primary">How to use Zoho CRM API with PHP</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a href="{{ path('order') }}" class="btn btn-success">Order</a></td>
                <td>Deals</td>
                <td><a href="https://blowstack.com/blog/api/create-a-lead-with-zoho-crm-in-php" class="btn btn-primary">How to use Zoho CRM API with PHP</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
